PORT=3001
MONGODB_URI=mongodb://localhost:27017/gerenciar
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_PATH=
ADMIN_FIREBASE_UID=
ADMIN_EMAIL=admin@example.com
ADMIN_NAME=admin
ADMIN_LAST_NAME=principal
ADMIN_SECTOR=general
